.jumbotron{
    background-color: blue;
    color: white;
}

.footer{
    padding: 8px;
    background-color: gray;
    color: white;
}

.btn{
    color: blue;
}

.card-element{
    flex: 1 200px;
    padding: 5px;
}